<footer class="footer theme-bg py-3 mt-5 text-center fixed-bottom">
<p class="lead text-white mb-0">© Copyright 2021 Anonymous Educational Inc. All Rights Reserved</p>
</footer>


<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/assets/select2/select2.full.min.js"></script>
<script type="text/javascript" src="/assets/js/theme.js"></script>
<script type="text/javascript" src="/assets/toastr/toastr.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>


<span><%- include('uploadmodal.ejs') -%></span>
   
 
   
</body>
</html>